body {
    margin: 0;
    
}

.hero-image {
    background-image: url("IMG_Andi_beach.jpg");
    background-color: #cccccc;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    color: dodgerblue;
    font-family: fantasy; 
    font-size: 50px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#dodgers1 {
    background-color: dodgerblue;
    border: inset;
    font-family: fantasy;
    font-size: 50px;
    height: 150px;
}

#dodgers2 {
    font-size: 25px;
    font-family: fantasy;
    background-color: gray;
    height: 150px;
    border: inset;
}

#As1 {
    background-color: green;
    border: outset;
    font-family: fantasy;
    font-size: 50px;
    height: 150px;
}

#As2 {
    font-size: 25px;
    font-family: fantasy;
    background-color: gold;
    height: 150px;
    border: outset;
}

#work {

}

#contact {

}